<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734258626145-o79qp3lf79okis97m91md84ms9nsm7nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734258626145-o79qp3lf79okis97m91md84ms9nsm7nf</string>
	<key>API_KEY</key>
	<string>AIzaSyCAVMUA3gYq2_p1e1snzcuEGMI5nahYJdw</string>
	<key>GCM_SENDER_ID</key>
	<string>734258626145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yxsha.studyBuddy</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-4b78f</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-4b78f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734258626145:ios:28d961802d80f52600f420</string>
</dict>
</plist>